<%- include('partials/header.ejs') %>    

    <div id="main">

        <div id="container">

            <div id="container_form">
                
                <h1>To-do List</h1>

                <form method="POST" action="/save">
                    
                    <input type="hidden" value="0" name="done">
                    <input type="text" name="name" placeholder="Digite sua tarefa!">
                    <input type="submit" class="btn" value="Cadastrar">

                </form>
          
            </div><!-- FECHAMNETO DA DIV CONTAINER FORM -->


            <div id="container_tasks">
                


                <% tasks.forEach((task)=>{ %>

                    <li>
                         <% if(task.concluido == 0){ %>  
                            <input type="checkbox" class="checkbox" disabled="disabled"> 
                         <%  } else{ %> 
                            <input type="checkbox" class="checkbox" checked disabled="disabled">
                         <% } %>
                         
                         <p class="pTask" ><%= task.nome %></p>                          

                        <span>
                            <form method="post" action="/delete">

                                <input type="hidden" name="id" value="<%= task.id %>">
                                <button type="submit" class="delete" id="delete" value="delete" >Deletar</button>
                                
                             </form>

                        </span>
                          
                        <span>
                            <form method="GET" action="/update/<%= task.id %>">
                                
                                <input type="hidden" name="id" value="<%= task.id %>">
                                <a href="/update/<%= task.id %>"><button type="button">Editar</button></a>
                                
                                
                            </form>
                        </span>
                         
                   </li>

                <% }) %>


  
            </div><!-- FECHAMNETO DA DIV CONTAINER TASKS -->
          
        </div><!-- FECHAMNETO DA DIV CONTAINER -->

    </div><!-- FECHAMNETO DA DIV MAin -->

<%-  include('partials/footer.ejs') %>